<% title 'Facebook Timeline' %>
<% description "Our basic videos will teach you more about social media.  Even if you don't know much about it, we'll help you use it to grow your business." %>
<% keywords 'online marketing, internet marketing, social media, social media business' %>
<% set_meta_tags :noindex => true %>

<div class="container">
  <div class="content">

	
<%= image_tag("https://s3.amazonaws.com/badgedin/badges/Facebook+Timeline+Badge.png", alt: "Facebook Timeline badge", id: "quiz_badge") %>

<h2 align="center">Congrats!  You've earned the Facebook Timeline badge!</h2>

	<hr>
	<p class="lead" align="center">Share your achievement and promote your business!</p>
    <div class="span4"></div>
    <div class="span2">
  	  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.badgedin.com" data-text="I just earned the Facebook Timeline badge with @badgedin!" data-size="large" data-count="none">Tweet</a>
	  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  	</div>
  
  	<div class="span2">
	  <div id="fb-root"></div>
    	<script src='http://connect.facebook.net/en_US/all.js'></script>
    	<p><a class="btn btn-primary" onclick='postToFeed(); return false;'>Share on Facebook</a></p>
    	<p id='msg'></p>

    	<script> 
      	  FB.init({appId: "139850606160013", status: true, cookie: true});

      	  function postToFeed() {

          // calling the API ...
          var obj = {
            method: 'feed',
            redirect_uri: 'http://www.badgedin.com/basics_social',
            link: 'http://www.badgedin.com/basics_social/fb_timeline/part1',
            picture: 'https://s3.amazonaws.com/badgedin/badges/Facebook+Timeline+Badge.png',
            name: 'Facebook Timeline',
            caption: '',
            description: "Our basic videos will teach you more about social media.  Even if you don't know much about it, we'll help you use it to grow your business."
          };

          function callback(response) {
            document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
          }

          FB.ui(obj, callback);
          }
    
        </script>
      </div>
      <br />
	<hr>

<%= simple_form_for(@badge) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :badge_name, as: 'hidden', input_html: { value: 'Facebook Timeline' } %>
    <%= f.input :badge_url, as: 'hidden', input_html: { value: 'https://s3.amazonaws.com/badgedin/badges/Facebook+Timeline+Badge.png' } %>
    <%= f.input :user_id, as: 'hidden', value: @user %>
  </div>

    <h3 align="center"><%= f.button :submit, "Add badge to profile", class: 'btn-success btn-large' %></h3>

<% end %>
  </div>
</div>