<div class="container">
  <div class="content">

	
<%= image_tag("https://s3.amazonaws.com/badgedin/badges/onsite_badge.png", alt: "On-site badge", id: "quiz_badge") %>

<h2 align="center">Congrats!  You've earned the On-site badge!</h2>

<%= simple_form_for(@badge) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :badge_name, as: 'hidden', input_html: { value: 'On-site' } %>
    <%= f.input :badge_url, as: 'hidden', input_html: { value: 'https://s3.amazonaws.com/badgedin/badges/onsite_badge.png' } %>
    <%= f.input :user_id, as: 'hidden', value: @user %>
  </div>

    <h3 align="center"><%= f.button :submit, "Add badge to profile", class: 'btn-success' %></h3>

<% end %>
  </div>
</div>