<% title 'PPC Basics' %>
<% description "Our basic videos will teach you more about pay per click.  Even if you don't know much about it, we'll help you use it to grow your business." %>

<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>PPC Basics</h1>
    </div>
	<div class="row">
      <div class="span3 well-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/How+Search+Engines+Work+Badge.png", alt: "How SE Work badge", align: "center", id: "badge_img") %>
        <h4 align="center">How Search Engines Work</h4>
        <hr>
        <p align="center"><%= link_to "Start badge", basics_ppc_how_se_work_why_path, class: "btn-custom" %></p>
      </div>

      <div class="span3 well-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/PPC+101+Badge.png", alt: "PPC 101 badge", align: "center", id: "badge_img") %>
        <h4 align="center">PPC 101</h4>
        <hr>
        <p align="center"><%= link_to "Start badge", basics_ppc_PPC_101_intro_to_ppc_path, class: "btn-custom" %></p>
      </div>

      <div class="span3 well-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/Search+Engine+Structure+Badge.png", alt: "Search Engine Structure badge", align: "center", id: "badge_img") %>
        <h4 align="center">Search Engine Structure</h4>
        <hr>
        <p align="center"><%= link_to "Start badge", basics_ppc_search_engine_structure_overview_path, class: "btn-custom" %></p>
      </div>

      <div class="span3 well-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/tracking_badge.png", alt: "Tracking & Reporting badge", align: "center", id: "badge_img") %>
        <h4 align="center">Tracking & Reporting</h4>
        <hr>
        <p align="center"><%= link_to "Start badge", basics_ppc_tracking_and_reporting_tracking_path, class: "btn-custom" %></p>
      </div>
    </div>
  </div>
</div>
