<% title 'Social Media Basics' %>
<% description "Our basic videos will teach you more about social media.  Even if you don't know much about it, we'll help you use it to grow your business." %>
<% keywords 'online marketing, internet marketing, social media, social media business' %>


<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>Social Media Basics</h1>
    </div>
	<div class="row">
      <div class="span3 well-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/Facebook+Timeline+Badge.png", alt: "Facebook Timeline badge", align: "center", id: "badge_img") %>
        <h4 align="center">Facebook Timeline</h4>
        <hr>
        <p align="center"><%= link_to "Start badge", basics_social_fb_timeline_part1_path, class: "btn-custom" %></p>
      </div>

      <div class="span3 well-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/fb_likes_badge.png", alt: "Facebook Likes badge", align: "center", id: "badge_img") %>
        <h4 align="center">Facebook Likes</h4>
        <hr>
        <p align="center"><%= link_to "Start badge", basics_social_fb_likes_part1_path, class: "btn-custom" %></p>
      </div>

      <div class="span3 well-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/Facebook+Engagement+Measurement+Badge.png", alt: "Facebook Engagement & Measurement badge", align: "center", id: "badge_img") %>
        <h4 align="center">Facebook Engage & Measure</h4>
        <hr>
        <p align="center"><%= link_to "Start badge", basics_social_fb_engage_measure_engagement_path, class: "btn-custom" %></p>
      </div>
      
      <div class="span3 well-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/Facebook+Admin+Panel+Badge.png", alt: "Facebook Admin Panel badge", align: "center", id: "badge_img") %>
        <h4 align="center">Facebook Admin Panel</h4>
        <hr>
        <p align="center"><%= link_to "Start badge", basics_social_fb_admin_basics_path, class: "btn-custom" %></p>
      </div>
      
      <div class="span3 well-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/twitter_basics_badge.png", alt: "Twitter Basics badge", align: "center", id: "badge_img") %>
        <h4 align="center">Twitter Basics</h4>
        <hr>
        <p align="center"><%= link_to "Start badge", basics_social_twitter_basics_part1_path, class: "btn-custom" %></p>
      </div>
    </div>
  </div>
</div>