<div class="container">
  <div class="content">
    <div class="page-header">
    <h1>Library</h1>
  </div>
	<div class="row well-library">
      <div class="span1-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/ppc_badge100.png") %>
      </div>
      <div class="span4">
        <h2>Pay Per Click</h2>
      </div>
      <div class="span9">
        <p class="lead"><%= link_to "Basics", basics_ppc_path %> | <%= link_to "Walk throughs", walkthroughs_ppc_path %> | 
        <%= link_to "Starter kit", root_path %> | <%= link_to "Strategy sessions", root_path%>
         | <%= link_to "Plan feedback", root_path %> | <%= link_to "Expert access", root_path %></p>	
      </div>
      </div>
      <div class="row well-library">
      <div class="span1-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/social_media_badge100.png") %>
      </div>
      <div class="span4">
        <h2>Social Media</h2>
      </div>
      <div class="span9">
        <p class="lead"><%= link_to "Basics", basics_social_path %> | <%= link_to "Walk throughs", walkthroughs_social_path %> | 
        <%= link_to "Starter kit", root_path %> | <%= link_to "Strategy sessions", root_path%>
         | <%= link_to "Plan feedback", root_path %> | <%= link_to "Expert access", root_path %></p>
      </div>
      </div>
      <div class="row well-library">
      <div class="span1-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/badges/seo_badge100.png") %>
      </div>
      <div class="span6">
        <h2>Search Engine Optimization</h2>
      </div>
      <div class="span9">
        <p class="lead"><%= link_to "Basics", basics_seo_path %> | <%= link_to "Walk throughs", walkthroughs_seo_path %> | 
        <%= link_to "Starter kit", root_path %> | <%= link_to "Strategy sessions", root_path%>
         | <%= link_to "Plan feedback", root_path %> | <%= link_to "Expert access", root_path %></p>
      </div>
    </div>
  </div>
</div>