<p>Name: <%= @ppcreview.name %></p>

<p>Email: <%= @ppcreview.email %></p>

<p>Website: <%= @ppcreview.website %></p>

<p>Channel: <%= @ppcreview.channel %></p>

<p>Monthly Budget: <%= @ppcreview.budget %></p>

<p>Campaign Goal: <%= @ppcreview.goal %></p>

<p>Timeline: <%= @ppcreview.timeline %></p>

<p>Potential Keywords: <%= @ppcreview.keywords %></p>
<hr>
<p>That's it!  If there's anything you can recommend for me, please let me know.</p>
<p>Thanks!</p>
<p><%= @ppcreview.name %></p>