<p>Name: <%= @seoreview.name %></p>

<p>Email: <%= @seoreview.email %></p>

<p>Website: <%= @seoreview.website %></p>

<p>On-site or Off-site?: <%= @seoreview.focus %></p>

<p>Monthly Budget: <%= @seoreview.budget %></p>

<p>Campaign Goal: <%= @seoreview.goal %></p>

<p>What's Your Plan?: <%= @seoreview.steps %></p>

<p>Timeline: <%= @seoreview.timeline %></p>

<p>Target Keywords: <%= @seoreview.keywords %></p>
<hr>
<p>That's it!  If there's anything you can recommend for me, please let me know.</p>
<p>Thanks!</p>
<p><%= @seoreview.name %></p>