<p>Name: <%= @socialreview.name %></p>

<p>Email: <%= @socialreview.email %></p>

<p>Website: <%= @socialreview.website %></p>

<p>Which Social Network?: <%= @socialreview.network %></p>

<p>Monthly Budget: <%= @socialreview.budget %></p>

<p>Campaign Goal: <%= @socialreview.goal %></p>

<p>What's Your Plan?: <%= @socialreview.steps %></p>

<p>Timeline: <%= @socialreview.timeline %></p>

<p>Number of fans/followers: <%= @socialreview.fans %></p>
<hr>
<p>That's it!  If there's anything you can recommend for me, please let me know.</p>
<p>Thanks!</p>
<p><%= @socialreview.name %></p>