<% title 'Off-site' %>
<% description "Our basic videos will teach you more about search engine optimization.  Even if you don't know much about it, we'll help you use it to grow your business." %>
<% keywords 'online marketing, internet marketing, search engine optimization, seo' %>
<% set_meta_tags :noindex => true %>

<div class="container">
  <div class="content">
    <script type="text/javascript">
	  var playerhost = (("https:" == document.location.protocol) ? "https://badgedin.s3.amazonaws.com/basics_seo/ezs3js/secure/" : "http://badgedin.s3.amazonaws.com/basics_seo/ezs3js/player/");
	  document.write(unescape("%3Cscript src='" + playerhost + "flv/91E2B92B-D4AE-52BC-EDCD35336857C167.js?t="+(Math.random() * 99999999)+"' type='text/javascript'%3E%3C/script%3E"));
	</script>
    
    <div class="row-video">
    <div class="span7-video">
      
        <ul class="breadcrumb">
  		  <li><a href="/basics_seo">SEO Basics</a> <span class="divider">/</span></li>
  		  <li><a href="/basics_seo/offsite/overview">Off-site</a> <span class="divider">/</span></li>
  		  <li class="active">Alternative Solutions</li>
		</ul>
      
 	  <p class="trainer">Author: Ben Reilly | Time: 3 minutes 24 seconds</p>
 	  <p class="trainer">There are many ways to boost your SEO rankings.  In this video, 
 	  we'll cover a few more options.</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_overview_path %><h4>Overview</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_overview_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">1 minute 59 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_guest_posts_and_comments_path %><h4>Guest Posts & Comments</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_guest_posts_and_comments_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">3 minutes 0 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_directories_and_forums_path %><h4>Directories & Forums</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_directories_and_forums_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 36 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_articles_path %><h4>Articles</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_articles_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">3 minutes 12 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_promotional_path %><h4>Promotional</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_promotional_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 41 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_alternative_solutions_path %><h4>Alternative Solutions</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_alternative_solutions_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">3 minutes 24 seconds</p>
	  <hr>
	  <p></p>
    </div>
    
    <div class="span3-video">
      <%= image_tag("https://s3.amazonaws.com/badgedin/badges/offsite_badge.png", alt: "Off-site badge", align: "center", id: "badge_img") %>
      <hr>
  	  <h3 align="center"><%= link_to 'Take the quiz', basics_seo_offsite_quiz_path, class: 'btn-custom' %></h3>
    </div>
    </div>
    
  </div>
</div>