<div class="container">
  <div class="content">
    <script type="text/javascript">
	  var playerhost = (("https:" == document.location.protocol) ? "https://badgedin.s3.amazonaws.com/ezs3js/secure/" : "http://badgedin.s3.amazonaws.com/ezs3js/player/");
	  document.write(unescape("%3Cscript src='" + playerhost + "flv/F3E62A13-D4AE-52BC-EDCDEFD38DDAA22A.js?t="+(Math.random() * 99999999)+"' type='text/javascript'%3E%3C/script%3E"));
    </script>
    
    <div class="row-video">
    <div class="span7-video">
      
        <ul class="breadcrumb">
  		  <li><a href="/basics_seo">SEO Basics</a> <span class="divider">/</span></li>
  		  <li><a href="/basics_seo/offsite/overview">Off-site</a> <span class="divider">/</span></li>
  		  <li class="active">Promotional</li>
		</ul>
      
 	  <p class="trainer">Author: Ben Reilly | Time: 2 minutes 41 seconds</p>
 	  <p class="trainer">Your target keywords are vital to your SEO.  Let's take a look at how 
 	  they can help you.</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_overview_path %><h4>Overview</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_overview_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">1 minute 59 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_guest_posts_and_comments_path %><h4>Guest Posts & Comments</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_guest_posts_and_comments_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">3 minutes 0 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_directories_and_forums_path %><h4>Directories & Forums</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_directories_and_forums_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 36 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_articles_path %><h4>Articles</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_articles_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">3 minutes 12 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_promotional_path %><h4>Promotional</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_promotional_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 41 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_offsite_alternative_solutions_path %><h4>Alternative Solutions</h4>
	  <strong><%= link_to 'Watch', basics_seo_offsite_alternative_solutions_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">3 minutes 24 seconds</p>
	  <hr>
	  <p></p>
    </div>
    
    <div class="span3-video">
      <%= image_tag("https://s3.amazonaws.com/badgedin/badges/offsite_badge.png", alt: "Off-site badge", align: "center", id: "badge_img") %>
      <hr>
  	  <h3 align="center"><%= link_to 'Take the quiz', basics_seo_offsite_quiz_path, class: 'btn-custom' %></h3>
    </div>
    </div>
    
  </div>
</div>