<div class="container">
  <div class="content">
    <script type="text/javascript">
	  var playerhost = (("https:" == document.location.protocol) ? "https://badgedin.s3.amazonaws.com/ezs3js/secure/" : "http://badgedin.s3.amazonaws.com/ezs3js/player/");
	  document.write(unescape("%3Cscript src='" + playerhost + "flv/95B80B8D-D4AE-52BC-EDCD63392BD674CE.js?t="+(Math.random() * 99999999)+"' type='text/javascript'%3E%3C/script%3E"));
    </script>
    
    <div class="row-video">
    <div class="span7-video">
      
        <ul class="breadcrumb">
  		  <li><a href="/basics_seo">SEO Basics</a> <span class="divider">/</span></li>
  		  <li><a href="/basics_seo/se_tools/common_settings">Search Engine Tools</a> <span class="divider">/</span></li>
  		  <li class="active">Common Settings</li>
		</ul>
      
 	  <p class="trainer">Author: Angela Yost | Time: 2 minutes 51 seconds</p>
 	  <p class="trainer">There are some general things you can do to make your website play nice 
 	  with the search engines.  We'll cover some of them in this video.</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_se_tools_common_settings_path %><h4>Common Settings</h4>
	  <strong><%= link_to 'Watch', basics_seo_se_tools_common_settings_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 51 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_se_tools_google_webmaster_path %><h4>Google Webmaster Tools</h4>
	  <strong><%= link_to 'Watch', basics_seo_se_tools_google_webmaster_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 30 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_seo_se_tools_bing_webmaster_path %><h4>Bing Webmaster Tools</h4>
	  <strong><%= link_to 'Watch', basics_seo_se_tools_bing_webmaster_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 16 seconds</p>
	  <hr>
	  <p></p>
    </div>
    
    <div class="span3-video">
      <%= image_tag("https://s3.amazonaws.com/badgedin/badges/se_tools_badge.png", alt: "Search Engine Tools badge", align: "center", id: "badge_img") %>
      <hr>
  	  <h3 align="center"><%= link_to 'Take the quiz', basics_seo_se_tools_quiz_path, class: 'btn-custom' %></h3>
    </div>
    </div>
    
  </div>
</div>