<% title 'Sign in' %>
<% description 'BadgedIn is the fastest, easiest way to learn how to market and advertise your website.  Learn Social Media, PPC, and SEO.' %>
<% keywords 'online marketing, internet marketing, pay per click, social media, search engine optimization, ppc, seo' %>
<% set_meta_tags :noindex => true %>

<div class="span4 well">
<h2>Sign in</h2>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.input :email, :autofocus => true, :input_html => { :class => "span4" } %>
  <%= f.input :password, :input_html => { :class => "span4" } %>
  <%= f.button :submit, "Sign in", class: "pull-right" %>
<% end %>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

</div>

<div class="span7">
  <h2>Welcome back!</h2>
  <p>We're glad you're making time to learn more about online marketing.  As you progress
  through the trainings, try applying what you learn.  The best way to understand what you're learning
  is to work on a project.</p>
  <hr>
  <h4>Badges</h4>
  <div class="row">
    <div class="span2">
      <p class="lead" align="center"><%= image_tag("https://s3.amazonaws.com/badgedin/badges/ppc_badge3150.png") %>PPC</p>
    </div>
    <div class="span2">
      <p class="lead" align="center"><%= image_tag("https://s3.amazonaws.com/badgedin/badges/social_media_badge150.png") %>Social</p>
    </div>
    <div class="span2">
      <p class="lead" align="center"><%= image_tag("https://s3.amazonaws.com/badgedin/badges/seo_badge3150.png") %>SEO</p>
    </div>
  </div>
</div>