<div class="container">
  <div class="content">
    <script type="text/javascript">
	  var playerhost = (("https:" == document.location.protocol) ? "https://badgedin.s3.amazonaws.com/basics_ppc/ezs3js/secure/" : "http://badgedin.s3.amazonaws.com/basics_ppc/ezs3js/player/");
	  document.write(unescape("%3Cscript src='" + playerhost + "flv/909A2E38-D4AE-52BC-EDCD025F5D74B074.js?t="+(Math.random() * 99999999)+"' type='text/javascript'%3E%3C/script%3E"));
	</script>
    
    <div class="row-video">
    <div class="span7-video">
      
        <ul class="breadcrumb">
  		  <li><a href="/basics_ppc">PPC Basics</a> <span class="divider">/</span></li>
  		  <li><a href="#">Search Engine Structure</a> <span class="divider">/</span></li>
  		  <li class="active">Keywords</li>
		</ul>
      
 	  <p class="trainer">Author: Ben Reilly | Time: 2 minutes 37 seconds</p>
 	  <p class="trainer">The lifeline of your PPC campaigns are your keywords.  Ensuring you
 	  are getting the most out of your keywords will help your campaign succeed.</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_ppc_search_engine_structure_overview_path %><h4>Search Engine Overview</h4>
	  <strong><%= link_to 'Watch', basics_ppc_search_engine_structure_overview_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 8 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_ppc_search_engine_structure_campaigns_path %><h4>Campaigns</h4>
	  <strong><%= link_to 'Watch', basics_ppc_search_engine_structure_campaigns_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 52 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_ppc_search_engine_structure_ad_groups_path %><h4>Ad Groups</h4>
	  <strong><%= link_to 'Watch', basics_ppc_search_engine_structure_ad_groups_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 11 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_ppc_search_engine_structure_keywords_path %><h4>Keywords</h4>
	  <strong><%= link_to 'Watch', basics_ppc_search_engine_structure_keywords_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 37 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_ppc_search_engine_structure_matchtypes_path %><h4>Matchtypes</h4>
	  <strong><%= link_to 'Watch', basics_ppc_search_engine_structure_matchtypes_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 14 seconds</p>
	  <hr>
	  <p></p>
    </div>
    
    <div class="span3-video">
      <%= image_tag("https://s3.amazonaws.com/badgedin/badges/Search+Engine+Structure+Badge.png", alt: "Search Engine Structure badge", align: "center", id: "badge_img") %>
      <hr>
  	  <h3 align="center"><%= link_to 'Take the quiz', basics_ppc_search_engine_structure_quiz_path, class: 'btn-custom' %></h3>
    </div>
    </div>
    
  </div>
</div>