<% title 'Facebook Admin Complete' %>
<% description "Our basic videos will teach you more about social media.  Even if you don't know much about it, we'll help you use it to grow your business." %>
<% set_meta_tags :noindex => true %>

<div class="container">
  <div class="content">
    <script type="text/javascript">
	  var playerhost = (("https:" == document.location.protocol) ? "https://badgedin.s3.amazonaws.com/basics_social/ezs3js/secure/" : "http://badgedin.s3.amazonaws.com/basics_social/ezs3js/player/");
	  document.write(unescape("%3Cscript src='" + playerhost + "flv/983FEA2F-D4AE-52BC-EDCD25EBC5CE2D2E.js?t="+(Math.random() * 99999999)+"' type='text/javascript'%3E%3C/script%3E"));
	</script>
    
    <div class="row-video">
    <div class="span7-video">
      
        <ul class="breadcrumb">
  		  <li><a href="/basics_social">Social Media Basics</a> <span class="divider">/</span></li>
  		  <li><a href="/basics_social/fb_admin/basics">Facebook Admin Panel</a> <span class="divider">/</span></li>
  		  <li class="active">Complete</li>
		</ul>
      
 	  <p class="trainer">Author: Kelly Mirabella | Time: 5 minutes 5 seconds</p>
 	  <p class="trainer">To get the most out of your Facebook page you must understand everything
 	  your admin panel offers.  We'll go through all the sections in this video.</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_social_fb_admin_basics_path %><h4>Basic Admin Panel</h4>
	  <strong><%= link_to 'Watch', basics_social_fb_admin_basics_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">3 minutes 19 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_social_fb_admin_complete_path %><h4>Complete Admin Panel</h4>
	  <strong><%= link_to 'Watch', basics_social_fb_admin_complete_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">5 minutes 5 seconds</p>
	  <hr>
	  <p></p>
    </div>
    
    <div class="span3-video">
      <%= image_tag("https://s3.amazonaws.com/badgedin/badges/Facebook+Admin+Panel+Badge.png", alt: "Facebook Admin Panel badge", align: "center", id: "badge_img") %>
      <hr>
  	  <h3 align="center"><%= link_to 'Take the quiz', basics_social_fb_admin_quiz_path, class: 'btn-custom' %></h3>
    </div>
    </div>
    
  </div>
</div>