<% title 'Facebook Measurement' %>
<% description "Our basic videos will teach you more about social media.  Even if you don't know much about it, we'll help you use it to grow your business." %>
<% keywords 'online marketing, internet marketing, social media, social media business' %>
<% set_meta_tags :noindex => true %>

<div class="container">
  <div class="content">
    <script type="text/javascript">
	  var playerhost = (("https:" == document.location.protocol) ? "https://badgedin.s3.amazonaws.com/basics_social/ezs3js/secure/" : "http://badgedin.s3.amazonaws.com/basics_social/ezs3js/player/");
	  document.write(unescape("%3Cscript src='" + playerhost + "flv/98BE2A94-D4AE-52BC-EDCDD03152A859CD.js?t="+(Math.random() * 99999999)+"' type='text/javascript'%3E%3C/script%3E"));
	</script>
    
    <div class="row-video">
    <div class="span7-video">
      
        <ul class="breadcrumb">
  		  <li><a href="/basics_social">Social Media Basics</a> <span class="divider">/</span></li>
  		  <li><a href="/basics_social/fb_engage_measure/engagement">Engagement & Measurement</a> <span class="divider">/</span></li>
  		  <li class="active">Measurement</li>
		</ul>
      
 	  <p class="trainer">Author: Kelly Mirabella | Time: 5 minutes 16 seconds</p>
 	  <p class="trainer">Measuring how you are interacting with your fans can give you ideas 
 	  on what is working well and what isn't.  In this video we'll show you what to look for.</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_social_fb_engage_measure_engagement_path %><h4>Facebook Engagement</h4>
	  <strong><%= link_to 'Watch', basics_social_fb_engage_measure_engagement_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">5 minutes 21 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_social_fb_engage_measure_measurement_path %><h4>Facebook Measurement</h4>
	  <strong><%= link_to 'Watch', basics_social_fb_engage_measure_measurement_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">5 minutes 16 seconds</p>
	  <hr>
	  <p></p>
    </div>
    
    <div class="span3-video">
      <%= image_tag("https://s3.amazonaws.com/badgedin/badges/Facebook+Engagement+Measurement+Badge.png", alt: "Facebook Engagement & Measurement badge", align: "center", id: "badge_img") %>
      <hr>
  	  <h3 align="center"><%= link_to 'Take the quiz', basics_social_fb_engage_measure_quiz_path, class: 'btn-custom' %></h3>
    </div>
    </div>
    
  </div>
</div>