<% title 'Twitter Basics Part 1' %>
<% description "Our basic videos will teach you more about social media.  Even if you don't know much about it, we'll help you use it to grow your business." %>
<% set_meta_tags :noindex => true %>

<div class="container">
  <div class="content">
    <script type="text/javascript">
	  var playerhost = (("https:" == document.location.protocol) ? "https://badgedin.s3.amazonaws.com/basics_social/ezs3js/secure/" : "http://badgedin.s3.amazonaws.com/basics_social/ezs3js/player/");
	  document.write(unescape("%3Cscript src='" + playerhost + "flv/BF25B4FE-D4AE-52BC-EDCDD7512E9FC7E5.js?t="+(Math.random() * 99999999)+"' type='text/javascript'%3E%3C/script%3E"));
	</script>
    
    <div class="row-video">
    <div class="span7-video">
      
        <ul class="breadcrumb">
  		  <li><a href="/basics_social">Social Media Basics</a> <span class="divider">/</span></li>
  		  <li><a href="/basics_social/twitter_basics/part1">Twitter Basics</a> <span class="divider">/</span></li>
  		  <li class="active">Part 1</li>
		</ul>
      
 	  <p class="trainer">Author: Kelly Mirabella | Time: 3 minutes 2 seconds</p>
 	  <p class="trainer">Twitter is not just for finding out what people are doing.  It's an 
 	  effective marketing tool that you can use.</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_social_twitter_basics_part1_path %><h4>Twitter Basics - part 1</h4>
	  <strong><%= link_to 'Watch', basics_social_twitter_basics_part1_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">3 minutes 2 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_social_twitter_basics_part2_path %><h4>Twitter Basics - part 2</h4>
	  <strong><%= link_to 'Watch', basics_social_twitter_basics_part2_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">3 minutes 36 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_social_twitter_basics_part3_path %><h4>Twitter Basics - part 3</h4>
	  <strong><%= link_to 'Watch', basics_social_twitter_basics_part3_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">4 minutes 57 seconds</p>
	  <hr>
	  <%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/play_button.png", alt: "Play", id: "play", align: "left"), basics_social_twitter_basics_part4_path %><h4>Twitter Basics - part 4</h4>
	  <strong><%= link_to 'Watch', basics_social_twitter_basics_part4_path, class: 'btn-custom pull-right' %></strong>
	  <p class="muted">2 minutes 22 seconds</p>
	  <hr>
	  <p></p>
    </div>
    
    <div class="span3-video">
      <%= image_tag("https://s3.amazonaws.com/badgedin/badges/twitter_basics_badge.png", alt: "Twitter Basics badge", align: "center", id: "badge_img") %>
      <hr>
  	  <h3 align="center"><%= link_to 'Take the quiz', basics_social_twitter_basics_quiz_path, class: 'btn-custom' %></h3>
    </div>
    </div>
    
  </div>
</div>