<div class="row">
  <div class="span4">
    <p class="muted">© <%= copyright_year %> BadgedIn. All Rights Reserved.</p>
  </div>
<div class="row pull-right footer-text hidden-phone">
  <div class="span2">
    <h4>Company</h4>
    <ul class="unstyled">
      <li><%=link_to "About", about_path %></li>
      <li><%=link_to "Contact", contact_path %></li>
    </ul>
  </div>
  <div class="span2">
    <ul class="unstyled">
      <h4>Library</h4>
      <li><%=link_to "PPC", library_path %></li>
      <li><%=link_to "Social", library_path %></li>
      <li><%=link_to "SEO", library_path %></li>
    </ul>
  </div>
  <div class="span2">
    <ul class="unstyled">
      <h4>Legal</h4>
      <li><%=link_to "Privacy", privacy_path %></li>
      <li><%=link_to "Terms", terms_path %></li>
    </ul>
  </div>
</div>
</div>