<%= link_to image_tag("https://s3.amazonaws.com/badgedin/images/badge_head50.png", class: 'brand'), root_path %>
<%= link_to "BadgedIn", root_path, :class => 'brand' %>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <li><%= link_to 'Library', library_path %></li>
    <li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  	<%= current_user.name %>
		<b class="caret"></b>
	  </a>
	  <ul class="dropdown-menu">
      	<li><%= link_to 'Badges', badges_path %></li>
      	<li><%= link_to "Settings", edit_user_registration_path %></li>
      	<li class="divider"></li>
      	<li><h4>Silver</h4></li>
      	<li><%= link_to 'PPC Basics', basics_ppc_path %></li>
      	<li><%= link_to 'Social Basics', basics_social_path %></li>
      	<li><%= link_to 'SEO Basics', basics_seo_path %></li>
      	<li class="divider"></li>
      	<h4>Gold</h4>
      	<li><%= link_to 'Starter Kit', starter_path %></li>
      	<li><%= link_to 'Strategy Sessions', strategy_sessions_path %></li>
      	<li class="divider"></li>
      	<h4>Platinum</h4>
      	<li><%= link_to 'PPC Plan Review', new_ppcreview_path %></li>
      	<li><%= link_to 'Social Plan Review', new_socialreview_path %></li>
      	<li><%= link_to 'SEO Plan Review', new_seoreview_path %></li>
      	<li><%= link_to "Expert Access", new_expert_path %></li>
      	<li class="divider"></li>
        <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to 'Library', library_path %></li>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><%= link_to 'Start your free trial', plans_path, class: 'btn-custom' %></li>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% end %>
</ul>